.footer img{
    margin-left:20px;
    filter:invert(0.7);
    margin-top:10px;
}
.footer img:hover{
    transform: scale(1.1);
    filter:invert(1);
}
.footer{
    font-size: 20px;
    margin:0;
    padding:0;
}
h3{
    color:var(--hoverColor);
}

@media screen and (max-width:760px){
    .footer{
        font-size:10px;
    }
}

